<div class="sweepstakes-wrapper">
  <div class="sweepstakes-box">
    <div class="sweepstakes-box-form">
      <div class="klaviyo-form-VTUeci"></div>
    </div>    
  </div>
</div>

<script>
  setTimeout(function() {
    document.getElementById("Accepts%20Marketing__3__7").checked = true;        
  }, 7000);
</script>

{% schema %}
  {
    "name": "Sweepstakes",
    "class": "section-sweepstakes",
    "settings": [],
    "presets": [
      {
        "name": "Sweepstakes"
      }
    ]
  }
{% endschema %}