<div class="term-condition-content">
  <div class="rte text-size-regular">
    <p>
      EDWIN USA operates this website (the "Website") and is hereinafter referred to as “Edwin”, "we” or “us” as the
      case may be. PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS WEBSITE. YOUR USE OF THIS WEBSITE
      CONFIRMS YOUR UNCONDITIONAL ACCEPTANCE OF THE FOLLOWING TERMS AND CONDITIONS. IF YOU DO NOT ACCEPT THESE TERMS AND
      CONDITIONS, DO NOT USE THIS WEBSITE.
    </p>
    <p>
      <br>
      1. Products, Content and Specifications. All features, content, specifications, products and prices of products
      and services described or depicted on this Website are subject to change at any time without notice. Certain
      weights, measures and similar descriptions are approximate and are provided for convenience purposes only. We make
      all reasonable efforts to accurately display the attributes of our products, including the applicable colors;
      however, the actual color you see will depend on your computer system and we cannot guarantee that your computer
      will accurately display such colors. The inclusion of any products or services in this Website at a particular
      time does not imply or warrant that these products or services will be available at any time. It is your
      responsibility to ascertain and obey all applicable local, state, federal and international laws (including
      minimum age requirements) in regard to the possession, use and sale of any item purchased from this Website. By
      placing an order, you represent that the products ordered will be used only in a lawful manner.
    </p>
    <p>
      <br>
      2. Shipping Limitations. When an order is placed, it will be shipping to an address designated by the purchaser as
      long as that shipping address is compliant with the shipping restrictions contained on this Website. All purchases
      from this Website are made pursuant to a shipment contract. As a result, risk of loss and title for items
      purchased from this Website pass to you upon delivery of the items to the carrier. You are responsible for filing
      any claims with carriers for damaged and/or lost shipments.
    </p>
    <p>
      <br>
      3. Accuracy of Information. We attempt to ensure that information on this Website is complete, accurate and
      current. Despite our efforts, the information on this Website may occasionally be inaccurate, incomplete or out of
      date. We make no representation as to the completeness, accuracy or currentness of any information on this
      Website. For example, products included on the Website may be unavailable, may have different attributes than
      those listed, or may actually carry a different price than that stated on the Website. In addition, we may change
      or correct any errors, misrepresentations, or omissions relating to product descriptions, pricing, or availability
      as needed and without prior notice. While it is our practice to confirm orders by email, the receipt of an email
      order confirmation does not constitute our acceptance of an order or our confirmation of an offer to sell a
      product or service. We reserve the right, without prior notice, to limit the order quantity on any product or
      service and/or to refuse service to any customer. We also may require verification of information prior to the
      acceptance and/or shipment of any order.
    </p>
    <p>
      <br>
      4. Website Content Changes. We maintain the right to alter, suspend, or discontinue any product, feature, or
      promotion offered through our Website; change product prices on the Website; or otherwise modify content on the
      Website at any time without prior notice. You agree that we shall not be liable to you or any third party for such
      changes occurring on our Website.
    </p>
    <p>
      <br>
      5. Use of this Website. The Website design and all text, graphics, information, content, and other material
      displayed on or that can be downloaded from this Website are either the property of, or used with permission by,
      EDWIN USA and are protected by copyright, trademark and other laws and may not be used except as permitted in
      these Terms and Conditions or with the prior written permission of the owner of such material. You may not modify
      the information or materials located on this Website in any way or reproduce or publicly display, perform, or
      distribute or otherwise use any such materials for any public or commercial purpose. Any unauthorized use of any
      such information or materials may violate copyright laws, trademark laws, laws of privacy and publicity, and other
      laws and regulations. You are responsible for maintaining the confidentiality of your account information and
      password and for restricting access to such information and to your computer. You agree to accept responsibility
      for all activities that occur under your account or password.
    </p>
    <p>
      <br>
      6. Trademarks. Certain trademarks, trade names, service marks and logos used or displayed on this Website are
      registered and unregistered trademarks, trade names and service marks of us and our affiliates. Other trademarks,
      trade names and service marks used or displayed on this Website are the registered and unregistered trademarks,
      trade names and service marks of their respective owners. Nothing contained on this Website grants or should be
      construed as granting, by implication, estoppel, or otherwise, any license or right to use any trademarks, trade
      names, service marks or logos displayed on this Website without our written permission or the written permission
      of such third party owner.
    </p>
    <p>
      <br>
      7. Linking to this Website. Creating or maintaining any link from another website to any page on this Website
      without our prior written permission is prohibited. Running or displaying this Website or any material displayed
      on this Website in frames or through similar means on another Website without our prior written permission is
      prohibited. Any permitted links to this Website must comply will all applicable laws, rule and regulations.
    </p>
    <p>
      <br>
      8. Third Party Links. From time to time, this Website may contain links to Websites that are not owned, operated
      or controlled by us or our affiliates. All such links are provided solely as a convenience to you. If you use
      these links, you will leave this Website. Neither we nor any of our affiliates are responsible for any content,
      materials or other information located on or accessible from any other Website. Neither we nor any of our
      affiliates endorse, guarantee, or make any representations or warranties regarding any other Website, or any
      content, materials or other information located or accessible from such Websites, or the results that you may
      obtain from using such Websites. If you decide to access any other website linked to or from this Website, you do
      so entirely at your own risk.
    </p>
    <p>
      <br>
      9. Inappropriate Material. You are prohibited from posting or transmitting any unlawful, threatening, defamatory,
      libelous, obscene, pornographic or profane material or any material that could constitute or encourage conduct
      that would be considered a criminal offense or give rise to civil liability, or otherwise violate any law. In
      addition to any remedies that we may have at law or in equity, if we reasonably determine that you have violated
      or are likely to violate the foregoing prohibitions, we may take any action we reasonably deem necessary to cure
      or prevent the violation, including without limitation, the immediate removal from this Website of the related
      materials. We will fully cooperate with any law enforcement authorities or court order or subpoena requesting or
      directing us to disclose the identity of anyone posting such materials.
    </p>
    <p>
      <br>
      10. User Information. Other than personally identifiable information, which is subject to this Website's Privacy
      Policy, any material, information, suggestions, ideas, concepts, know-how, techniques, questions, comments or
      other communication you transmit or post to this Website in any manner ("User Communications") is and will be
      considered non-confidential and non-proprietary. We, each of our affiliates and/or our designees may use any or
      all User Communications for any purpose whatsoever, including, without limitation, reproduction, transmission,
      disclosure, publication, broadcast, development, manufacturing and/or marketing in any manner whatsoever for any
      or all commercial or non-commercial purposes. We may, but are not obligated to, monitor or review any User
      Communications. We shall have no obligation to use, return, review, or respond to any User Communications. We will
      have no liability related to the content of any such User Communications, whether or not arising under the laws of
      copyright, libel, privacy, obscenity, or otherwise. We retain the right to remove any or all User Communications
      that includes any material we deem inappropriate or unacceptable.
    </p>
    <p>
      <br>
      11. DISCLAIMERS. YOUR USE OF THIS WEBSITE IS AT YOUR RISK. THE MATERIALS AND SERVICES PROVIDED IN CONNECTION WITH
      THIS WEBSITE ARE PROVIDED "AS IS" WITHOUT ANY WARRANTIES OF ANY KIND INCLUDING WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF INTELLECTUAL PROPERTY. NEITHER WE NOR ANY OF OUR
      AFFILIATES WARRANT THE ACCURACY OR COMPLETENESS OF THE MATERIALS OR SERVICES ON OR THROUGH THIS WEBSITE. THE
      MATERIALS AND SERVICES ON OR THROUGH THIS WEBSITE MAY BE OUT OF DATE, AND NEITHER WE NOR ANY OF OUR AFFILIATES
      MAKE ANY COMMITMENT OR ASSUME ANY DUTY TO UPDATE SUCH MATERIALS OR SERVICES. THE FOREGOING EXCLUSIONS OF IMPLIED
      WARRANTIES DO NOT APPLY TO THE EXTENT PROHIBITED BY LAW. PLEASE REFER TO YOUR LOCAL LAWS FOR ANY SUCH
      PROHIBITIONS. ALL PRODUCTS AND SERVICES PURCHASED ON OR THROUGH THIS WEBSITE ARE SUBJECT ONLY TO ANY APPLICABLE
      WARRANTIES OF THEIR RESPECTIVE MANUFACTURES, DISTRIBUTORS AND SUPPLIERS, IF ANY. TO THE FULLEST EXTENT PERMISSIBLE
      BY APPLICABLE LAW, WE HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, ANY
      IMPLIED WARRANTIES WITH RESPECT TO THE PRODUCTS AND SERVICES LISTED OR PURCHASED ON OR THROUGH THIS WEBSITE.
      WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, WE HEREBY EXPRESSLY DISCLAIM ALL LIABILITY FOR PRODUCT DEFECT OR
      FAILURE, CLAIMS THAT ARE DUE TO NORMAL WEAR, PRODUCT MISUSE, ABUSE, PRODUCT MODIFICATION, IMPROPER PRODUCT
      SELECTION, NON-COMPLIANCE WITH ANY CODES, OR MISAPPROPRIATION. WE MAKE NO WARRANTIES TO THOSE DEFINED AS
      "CONSUMERS" IN THE MAGNUSON-MOSS WARRANTY-FEDERAL TRADE COMMISSION IMPROVEMENTS ACT. THE FOREGOING EXCLUSIONS OF
      IMPLIED WARRANTIES DO NOT APPLY TO THE EXTENT PROHIBITED BY LAW. PLEASE REFER TO YOUR LOCAL LAWS FOR ANY SUCH
      PROHIBITIONS
    </p>
    <p>
      <br>
      12. LIMITATIONS OF LIABILITY. We assume no responsibility, and shall not be liable for, any damages to, or viruses
      that may infect, your computer, telecommunication equipment, or other property caused by or arising from your
      access to, use of, or browsing this Website or your downloading of any materials, from this Website. IN NO EVENT
      WILL WE, OUR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, SHAREHOLDERS, AFFILIATES, PARENT CORPORATIONS, AGENTS,
      SUCCESSORS, ASSIGNS, RETAIL PARTNERS NOR ANY PARTY INVOLVED IN THE CREATION, PRODUCTION OR TRANSMISSION OF THIS
      WEBSITE BE LIABLE TO ANY PARTY FOR ANY INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES
      (INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOST PROFITS, LOST DATA OR BUSINESS INTERRUPTION) ARISING OUT
      OF THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THIS WEBSITE, ANY WEBSITES LINKED TO THIS WEBSITE, OR THE
      MATERIALS, INFORMATION OR SERVICES CONTAINED AT ANY OR ALL SUCH WEBSITES, WHETHER BASED ON WARRANTY, CONTRACT,
      TORT OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING
      LIMITATIONS OF LIABILITY DO NOT APPLY TO THE EXTENT PROHIBITED BY LAW. PLEASE REFER TO YOUR LOCAL LAWS FOR ANY
      SUCH PROHIBITIONS. IN THE EVENT OF ANY PROBLEM WITH THIS WEBSITE OR ANY CONTENT, YOU AGREE THAT YOUR SOLE REMEDY
      IS TO CEASE USING THIS WEBSITE. IN THE EVENT OF ANY PROBLEM WITH THE PRODUCTS OR SERVICES THAT YOU HAVE PURCHASED
      ON OR THROUGH THIS WEBSITE, YOU AGREE THAT YOUR SOLE REMEDY, IF ANY, IS FROM THE MANUFACTURER OF SUCH PRODUCTS OR
      SUPPLIER OF SUCH SERVICES, IN ACCORDANCE WITH SUCH MANUFACTURER'S OR SUPPLIER'S WARRANTY, OR TO SEEK A RETURN AND
      REFUND FOR SUCH PRODUCT OR SERVICES IN ACCORDANCE WITH THE RETURNS AND REFUNDS POLICIES POSTED ON THIS WEBSITE.
    </p>
    <p>
      <br>
      13. Revisions to these Terms and Conditions. We may revise these Terms and Conditions at any time and from time to
      time by updating this posting. You should visit this page from time to time to review the then current Terms and
      Conditions because they are binding on you. Certain provisions of these Terms and Conditions may be superseded by
      expressly designated legal notices or terms located on particular pages at this Website.
    </p>
    <p>
      <br>
      14. Choice of Law; Jurisdiction. These Terms and Conditions supersede any other agreement between you and us to
      the extent necessary to resolve any inconsistency or ambiguity between them. These Terms and Conditions will be
      governed by and construed in accordance with the laws of the State of California, without giving effect to any
      principles of conflicts of laws. A printed version of these Terms and Conditions shall be admissible in judicial
      and administrative proceedings based upon or relating to these Terms and Conditions to the same extent and subject
      to the same conditions as other business documents and records originally generated and maintained in printed
      form. The waiver of any provision of this Agreement by us shall not be considered a waiver of any other provision
      of this Agreement by us. If any provision of this Agreement is found to be unenforceable or invalid for any
      reason, that provision shall be severable and all other provisions shall remain in full force and effect.
    </p>
    <p>
      <br>
      15. Termination. You or we may suspend or terminate your account or your use of this Website at any time, for any
      reason or for no reason. You are personally liable for any orders that you place or charges that you incur prior
      to termination. We reserve the right to change, suspend, or discontinue all or any aspect of this Website at any
      time without notice
    </p>
    <p>
      <br>
      16. Additional Assistance. If you do not understand any of the foregoing Terms and Conditions or if you have any
      questions or comments, we invite you to contact Edwin Customer Service at <a href="mailto:contact@edwin-usa.com">contact@edwin-usa.com</a>.
    </p>
  </div>
</div>
{% schema %}
{
  "name": "Term and condition",
"class": "section-term-condition",
  "presets": [
    {
      "name": "Term and condition"
    }
  ]
}
{% endschema %}
