.section-container {
  text-align: center;
}
.section-container .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
}
.section-container .container .block-content img {
  opacity: 1;
  z-index: -1;
  position: absolute;
  top: -100%;
}
.section-container .container .block-content > a:hover ~ img {
  opacity: 1;
}
